body {
  font: 10px sans-serif;
}

path {
  stroke: grey;
  /*stroke-width: 1;*/
  fill: none;
  cursor:pointer;
}
.container {
    margin-left: 20px !important;
}

div.tooltip {
  position: absolute;
  padding: 8px;
  font: 12px sans-serif;
  background: #ddd;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}

.btn {
	margin: 3px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path.domain{
	display: none;
}

.bar {
  cursor:pointer;
}

.bar:hover  {
  fill: red;
  opacity:1;
}

line.topline  {
  fill: none;
  stroke: #FFF;
  shape-rendering: crispEdges;
  stroke-width:4;
}

line.topline:hover {
  fill: none;
  stroke: #aaa;
  shape-rendering: crispEdges;
  stroke-width:4;
}

.negativo {
	display:none;
}

.page-footer {
  margin-top:25px;	
}
